<div class="random-phrase">
  <div class="loader">
    <mat-spinner *ngIf="isLoading" [color]="primary"></mat-spinner>
  </div>
  <div *ngIf="!isLoading && !phrase">
    No data found
  </div>
  <div *ngIf="!isLoading && !!phrase" class="phrase">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          Random phrase
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="/assets/phrase.png" alt="Phrase image" />
      <mat-card-content>
        {{ phrase.text }}
      </mat-card-content>
    </mat-card>

    <button mat-raised-button color="primary" (click)="getRandomPhrase()">
      Get new phrase
    </button>
  </div>
</div>
