<div class="random-phrases">
  <div class="loader">
    <mat-spinner *ngIf="isLoading" [color]="primary"></mat-spinner>
  </div>
  <div class="phrases" *ngIf="!isLoading">
    <form [formGroup]="phraseForm">
      <div formArrayName="phrases">
        <div
          class="phrase"
          *ngFor="let phrase of phraseForms.controls; let i = index"
          [formGroupName]="i"
        >
          <mat-form-field appearance="outline">
            <mat-label>Phrase</mat-label>
            <textarea rows="3" matInput formControlName="text"></textarea>
          </mat-form-field>
          <button mat-mini-fab color="primary" (click)="removePhrase(i)">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
    </form>
    <button mat-mini-fab color="primary" (click)="addPhrase()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div *ngIf="!!errorMessage">
  {{ errorMessage.message }}
</div>
