.random-phrases {
  padding: 20px;
  display: flex;
  justify-content: center;

  .phrases {
    width: 80%;
    text-align: center;

    .phrase {
      display: flex;
      align-items: center;

      .mat-input-container {
        width: calc(100% - 50px);
      }
    }
  }
}
